@import url('https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Georama:ital,wght@0,100..900;1,100..900&family=IM+Fell+DW+Pica+SC&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Yusei+Magic&display=swap');

:root{
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgb(9, 48, 65);
}

*{
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: black;
    font-family: "Yusei Magic", sans-serif;
    font-size: 1.3em;
    line-height: 1.4em;
}

.container{
    max-width: 640px;
    margin: 60px auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input{
    font-size: 20px;
    height: 25px;
    padding: 0 10px;
}

form input:focus{
    outline: 1px solid var(--primary-color);
}

form button{
    border: none;
    background-color: var(--primary-color);
    color: aliceblue;
    font-size: 18px;
    font-weight: 700;
    height: 40px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background-color: var(--primary-color-darker);
}

.imc2, .imc{
    width: 46%;
}

/* .secondResult{
    background-color: rgb(57, 175, 110);
    color: black;
} */

.tabela{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.ok{
    background-color: rgb(57, 175, 110);
    color: black;
    padding: 10px 20px;
}

.bad{
    background-color: rgb(209, 73, 73);
    color: black;
    padding: 0.1rem 20px;
}